# dependencies
**/node_modules

# database
**/db

# openapi-generator output
**/output

# vscode setting
**/.vscode

# cpp build
**.exe

**/.yarn/*
!**/.yarn/cache
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions